<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicHub"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.WeekChartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BXHNewSongActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewReleaseSongActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAlbumActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewArtistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAllSongActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewPlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Test2Activity"
            android:exported="true" />
        <activity
            android:name=".activity.PlayNowVideoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlayNowActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyService" />

        <receiver android:name=".receiver.MyReceiver" />
    </application>

</manifest>